<h2 class="w3-text-light-grey w3-xxlarge w3-allerta alcalt  ">Yorumlar</h2>
<div class="row ">
    <div class="col-sm-6">
        <p class="w3-large">Bize mesajınız mı var ?</p>
        <form action="/action_page.php" target="_blank">
            <p><input class="w3-input   w3-black" type="text" placeholder="Name" required name="Name"></p>
            <p><input class="w3-input  w3-black" type="text" placeholder="Email" required name="Email"></p>
            <p><textarea type="text" placeholder="Message" required name="Message"></textarea></p>
            <p>
                <button class="w3-button w3-block w3-rounder-large w3-light-grey w3-padding-large" type="submit">Gönder</button>
            </p>
        </form>
    </div>

    <div class="col-sm-6" style="margin-top:3%; border-left:2px solid white;">


        <div class="alert alert-dark">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Images/user1.png" width="50" />
                </div>
                <div class="col-md-10">
                    <p>
                        <b style="bottom:0px;">Ahmet</b><br /> Çok güzeldi tavsiye ederim
                    </p>
                </div>
            </div>
        </div>

        <div class="alert alert-dark">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Images/user1.png" width="50" />
                </div>
                <div class="col-md-10">
                    <p>
                        <b style="bottom:0px;">Ayşe</b><br /> Tavsiye edilir
                    </p>
                </div>
            </div>
        </div>


        <div class="alert alert-dark">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Images/user1.png" width="50" />
                </div>
                <div class="col-md-10">
                    <p>
                        <b style="bottom:0px;">Can</b><br /> İyi
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>

