
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey w3-xxlarge w3-allerta ">İletişim </h2>
    <hr style="width:1000px" class="w3-opacity ">
    <div class="w3-section ">
        <div class="row ">
            <div class="col-sm-8  ">
                <p class="w3-large">Bize mesajınızmı var ?</p>
                <form action="/action_page.php" target="_blank">
                    <p><input class="w3-input   w3-black" type="text" placeholder="Name" required name="Name"></p>
                    <p><input class="w3-input  w3-black" type="text" placeholder="Email" required name="Email"></p>
                    <p><input class="w3-input   w3-black" type="text" placeholder="Subject" required name="Subject"></p>
                    <p><textarea type="text" placeholder="Message" required name="Message"></textarea></p>
                    <p><button class="w3-button w3-block w3-rounder-large w3-light-grey w3-padding-large" type="submit">Gönder </button></p>
                </form>
            </div>

            <div class="col-sm-4 " style="margin-top:3%; border-left:2px solid white;">
                <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> İstanbul,Türkiyr</p>
                <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Telefon: 0534 9870 73 85</p>
                <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: info@iticket.com</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24084.128172599827!2d28.876044359723416!3d41.013965175195395!2m3!1f
                 0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cabb081d9317d1%3A0xba800c81534b7bfc!2sHakan+Tekstil!5e0!3m2!1str!2str!4v1545233030472"
                 frameborder="0" style="width:120%; height: 230px;"></iframe>
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br />